.header{
    /* position: fixed; */
max-width: 1280px;;
display: flex;
justify-content: space-between;
padding: 10px 30px;
margin-right: auto;
margin-left: auto;
background-color: darksalmon;
border-bottom: 2px solid white;
}
.linkContainer{
display: flex;
position: relative;
/* width: 80%; */

}
.link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-right: 25px;
font-size: 18px;

}
.link:last-child{
    margin-right: 0;
}
.link:hover{
    transform: scale(1.2);
    color: brown;
}
.info{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.infoText{
text-decoration:none;
color: white;
font-size: 30px;
margin-bottom: 15px;
}

.infoTextMail {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nameText{

font-weight: 600;
color: white;
/* text-transform: uppercase; */
font-size: 24px
}
.centerContainer{
display: flex;
flex-direction: column;
text-align: center;
}
.img{
width: 100px;
height: 100px;
border-radius: 50%;
overflow: hidden;

}
.main{
    max-width: 1280px;
    margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
}
@media screen and (max-width: 1024px) {
    .img {
    display: none;
    }
        .infoText {
            font-size: 20px;
       }
                .nameText {
                    font-size: 18px
                }
}
@media screen and (max-width: 768px) {
.info {
    display: none;
}
.header{
    justify-content: center;
}
.link {
    font-size: 12px;
}
}
.but{
    position: relative;
        text-decoration: none;
            color: white;
            text-transform: uppercase;
            margin-right: 25px;
            border: none;
            background-color: transparent;
            cursor: pointer;
}

.hid{

    position: absolute;
    width: auto;
    top: 30px;
    left:50%;
    display: flex;
    flex-direction: column;
    background-color: azure;

}